.header {
  grid-area: header;
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  width: 99%;
}
.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container-fluid .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: #e3e3e3;
  width: 50%;
  padding: 0rem 1rem;
  border-radius: 1rem;
}
.header .container-fluid .me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7%;
  padding: 0rem 1rem;
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 0.6rem;
    margin: 0.6rem;
    width: 100%;
  }
}
body {
  background-color: #ebf2ff;
}

.mypage {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "gap header header header header header header header side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side" "gap main main main main main main main side side";
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: side;
}

@media only screen and (max-width: 480px) {
  .mypage {
    display: block;
  }
}
.gap {
  grid-area: gap;
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  height: 100%;
  margin: 0 0.6rem;
  border-radius: 5px;
}
.gap .mobmenu {
  display: none;
}
.gap .container {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  gap: 2.4rem;
}
.gap .container div {
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 50%;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 1, 0.2);
}
.gap .container div i {
  font-size: 2rem;
}
.gap .container div[aria-checked=true] {
  border: 2px solid #666666;
  background-color: #0075ff;
}

@media only screen and (max-width: 480px) {
  .gap {
    width: 90vw;
  }
  .gap .mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gap .mobmenu {
    display: block;
  }
  .gap .container {
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 10000000000000002000000000000;
  }
}
.main .container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .head .total .icon {
  background-color: #f76262;
  padding: 1rem;
  border-radius: 50%;
}
.main .container .head .cost .icon {
  background-color: #12d226;
  padding: 1rem;
  border-radius: 50%;
}
.main .container .head .staf .icon {
  background-color: #0075ff;
  padding: 1rem;
  border-radius: 50%;
}
.main .container .head .Appointment .icon {
  background-color: #ff7a00;
  padding: 1rem;
  border-radius: 50%;
}
.main .container .head div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.main .container .head div .text {
  font-size: 0.9rem;
  display: flex;
  align-content: space-between;
  gap: 0;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .main .container .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.6rem;
  }
  .main .container .head .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .container .head div {
    width: 20%;
  }
  .main .container .head div .text {
    font-size: 0.4rem;
  }
}
.charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .charts {
    display: block;
    gap: 0.7rem;
  }
  .charts .pie figure {
    width: 100vw;
  }
}
.table {
  background-color: #ffffff;
  padding: 1.5rem;
}
.table tr #add .btn[aria-checked=false] {
  display: none;
}
.table tr #add .cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.table tr #add .cover .mark {
  color: #4caf50;
  border-radius: 50%;
  background-color: #c1e6c2;
  width: 15%;
  padding: 0.3rem;
}
.table tr #add .cover[aria-checked=true] {
  display: block;
}
.table th[scope=row] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 5px;
}
.table a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

@media only screen and (max-width: 480px) {
  .table {
    padding: 0.7rem;
    font-size: 0.7rem;
    width: 90%;
  }
  .table h4 {
    width: 90%;
    font-size: 0.8rem;
  }
  .table tr #add #tablebtn {
    font-size: 0.5rem !important;
  }
  .table tr #add .cover .mark {
    width: 15%;
    padding: 0.3rem;
  }
  .table th[scope=row] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 3px;
  }
  .table th[scope=row] p {
    font-size: 0.2rem;
  }
  .table a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    width: 100%;
  }
}
#mobprofile {
  display: none;
}

.sidebar {
  background-color: #ffffff;
}
.sidebar .navbar {
  width: 100% !important;
  margin: 0;
  margin-bottom: 0.7rem;
  background-color: #ffffff !important;
}
.sidebar .navbar .nn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilepic {
  border-radius: 50%;
}

.my-profile .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-profile .data .part1-name {
  font-weight: bold;
}
.my-profile .data .part1-sp {
  opacity: 0.9;
}
.my-profile .quickinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-profile .quickinfo .infobox {
  margin: 0.4rem;
  width: 30%;
  padding: 0.4rem;
  font-size: 0.6rem;
  background-color: #0075ff;
  border-radius: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.my-profile .about h5 {
  color: #0075ff;
}
.my-profile .post .posthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0075ff;
}
.my-profile .post .posthead a {
  text-decoration: none;
}
.my-profile .post .posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.my-profile .post .posts .post-box {
  background-color: #ebf2ff;
  width: 30%;
  padding-top: 0.7rem;
  font-size: 0.5rem;
}
.my-profile .post .posts .post-box h6 {
  font-size: 0.5rem;
}
.my-profile .post .posts .post-box .maininfo {
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.my-profile .post .posts .post-box .body p {
  padding: 0 0.4rem;
}
.my-profile .post .posts .post-box .img {
  width: 100%;
}
.my-profile .addbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#mobmsg {
  display: none;
}

.msgs {
  display: none;
}
.msgs .msgbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}
.msgs .msgbox .imgbox {
  background-color: #cfd4d7;
  padding: 0.5rem;
  border-radius: 50%;
}
.msgs .msgbox .name-postBox {
  line-height: 1rem;
}
.msgs .msgbox .name-postBox .name {
  margin-bottom: 0;
}
.msgs .msgbox .name-postBox .post {
  font-size: 0.7rem;
}

@media only screen and (max-width: 480px) {
  #mobmsg, #mobprofile {
    display: block;
  }
  .msgs {
    display: none;
    z-index: 999999999;
  }
  .msgs .msgbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
  }
  .msgs .msgbox .imgbox {
    background-color: #cfd4d7;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .msgs .msgbox .name-postBox {
    line-height: 1rem;
  }
  .msgs .msgbox .name-postBox .name {
    margin-bottom: 0;
  }
  .msgs .msgbox .name-postBox .post {
    font-size: 0.7rem;
  }
}
.addpost {
  display: none;
}
.addpost h6 {
  color: #0075ff;
  margin: 0 1rem;
  font-size: 1.1rem;
}
.addpost .title {
  padding: 1.3rem;
  margin: 0;
}
.addpost .title input {
  padding: 1.3rem;
  width: 100%;
  border-radius: 0.5rem;
  height: 3rem;
}
.addpost .addpic {
  border: 1px solid black;
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 2rem;
}
.addpost .addpic i {
  margin: 0;
}
.addpost .addpic p {
  margin: 0;
}
.addpost #btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.sidebar a[aria-current=page] {
  position: relative;
}
.sidebar a[aria-current=page]::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #0075ff;
  position: absolute;
  top: 2rem;
  left: -0.2rem;
}
.sidebar #profile[aria-selected=true] {
  display: block;
}
.sidebar #msg[aria-selected=true] {
  display: block;
}
.sidebar #addpost[aria-selected=true] {
  display: block;
}

@media only screen and (max-width: 480px) {
  .sidebar {
    display: none;
    z-index: 1000000000000000300000000;
  }
}/*# sourceMappingURL=main.css.map */