@use '../color' as *;
@use '../mixins' as *;

.main{
    .container{
        .head{
            @include flex;
            .total{
                .icon{
                    @include icon($red);
                }
            }
            .cost{
                .icon{
                    @include icon($green);
                }
            }
            .staf{
                .icon{
                    @include icon($main-blue);
                }
            }
            .Appointment{
                .icon{
                    @include icon($orange);
                }
            }
            
            div{
                @include flex;
                gap: 1rem;
                
                
                .text{
                    font-size: 0.9rem;
                    @include flex3;
                }
            }
        }
    }
}

//mobile

@media only screen and (max-width: 480px) {
    .main{
        .container{
            .head{
                @include flex;
                flex-wrap: wrap;
                margin: 0.6rem;
                .icon{
                    @include center;
                    
                }
                div{
                    width: 20%;
                    
                    
                    
                    .text{
                        font-size: 0.4rem;
                        
                    }
                }
            }
        }
    }
}